# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# Environment variables
.env

# Pytest cache
.pytest_cache/

# Alembic (optional logs/cache)
*.log

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Coverage reports
.coverage
htmlcov/

# Build files
dist/
build/
*.egg-info/